.parent {
    height: 20em;
    position: relative 
}

.login_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.login_img {
    padding-left: 5px;
    width: 28px;
    height: 28px;
}